#buttonToClick{
    border-radius: 25%;
    width:200px;
    height:50px;
    background:Red;
    font-family: 'BTTF';
    margin-left: 0px;
    margin-right:0px;
    position: absolute;
}

p{
    text-align:center;
}